<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/uikit.css" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask server</title>
</head>
<body>
    <section class="uk-section uk-width-xlarge" style="margin: 0 auto;">
        {% block body %}{% endblock %}
    </section>
<footer class="uk-footer">
    created by johnny

</footer>
</body>
</html>
